body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: block;
  margin: 20px auto;
  padding: 20px;
  border: none;
  border-radius: 6px;
  background-color: #9ed9c5;
  max-width: 750px;
}
.city-input {
  display: flex;
  flex-direction: row;
  margin: 20px 50px;
  max-width: 500px;
}
.search-city {
  border: none;
  border-radius: 6px;
  background: #c7f2e3;
  font-style: italic;
  font-size: 16px;
  padding: 5px 10px;
}
.search-btn {
  color: #c7f2e3;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #20615b;
  padding: 5px 10px;
}
.search-btn:hover {
  background-color: #0a5149;
  transition: all 2s ease-in-out;
}
.current-location-button {
  color: #20615b;
  border: 1px solid #20615b;
  border-radius: 6px;
  background: #9ed9c5;
  margin: 0 5px;
  padding: 5px 10px;
}
.current-day {
  margin: 20px 50px;
}
.current-day-1 {
  text-align: left;
}
.current-day-2 {
  text-align: right;
}
h1,
.description {
  color: #20615b;
}
h1 {
  font-weight: bolder;
}
.date,
.description {
  font-weight: 400;
  font-size: 25px;
}
.description {
  text-transform: capitalize;
}
.date {
  color: #606674;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.icon-and-temp {
  font-size: large;
}
.partly-cloudy-icon {
  color: #20615b;
  font-size: 50px;
}
.temp {
  font-weight: 700;
  font-size: 30px;
  color: #20615b;
}
.units {
  color: #20615b;
  font-size: 25px;
  font-weight: 400;
}
.humidity-wind {
  margin-top: 20px;
  font-weight: 550;
  color: #20615b;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: #20615b;
}
a:hover {
  color: #0a5149;
  font-weight: 550;
}
.next-days {
  margin: 20px 36px;
  width: 110%;
}
.card {
  border: none;
  border-radius: 6px;
  background: #c7f2e3;
  max-width: 350px;
}
.weather-icons {
  color: #20615b;
  font-size: 20px;
}
.card-text {
  text-align: center;
  color: #606674;
  font-style: italic;
  font-weight: 450;
}
.card-title {
  text-align: center;
  color: #20615b;
  font-weight: bolder;
}
small {
  padding: 0 auto;
  margin: 0 auto;
  text-align: center;
}
.open-src-code-link {
  font-size: 14px;
}
.open-src-code-link:hover {
  color: #0a5149;
  text-decoration: underline;
}
